---
# Role: swarm-worker - Jonction au Swarm

- name: Check if node is already in Swarm
  shell: docker info --format {% raw %}'{{.Swarm.LocalNodeState}}'{% endraw %}
  register: swarm_status
  changed_when: false

- name: Get worker join token from manager
  shell: docker swarm join-token worker -q
  delegate_to: "{{ groups['managers'][0] }}"
  register: worker_token
  changed_when: false
  when: swarm_status.stdout != "active"

- name: Join Swarm as worker
  shell: docker swarm join --token {{ worker_token.stdout }} {{ manager_ip }}:2377
  when: swarm_status.stdout != "active"
