---
# Role: swarm-manager - Initialisation du Swarm

- name: Check if Swarm is already initialized
  shell: docker info --format {% raw %}'{{.Swarm.LocalNodeState}}'{% endraw %}
  register: swarm_status
  changed_when: false

- name: Initialize Docker Swarm
  command: docker swarm init --advertise-addr {{ manager_ip }}
  when: swarm_status.stdout != "active"

- name: Get Swarm worker join token
  command: docker swarm join-token worker -q
  register: worker_token
  changed_when: false

- name: Save worker token
  set_fact:
    swarm_worker_token: "{{ worker_token.stdout }}"
